@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Màu nền đen tuyền giống SwagMedia */
  --background: #000; 
  /* Chữ trắng */
  --foreground: #ffffff; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Fix lỗi padding mặc định của thẻ link */
a {
  text-decoration: none;
  color: inherit;
}

.footer {
  border-top: 1px solid #18181b;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #52525b;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #000000;
}