/* src/components/layout/footer.module.scss */

// Biến màu
$bg-color: #000000;
$text-white: #ffffff;
$text-muted: #a1a1aa; // zinc-400
$text-dark: #52525b; // zinc-600
$border-color: #18181b; // zinc-900
$accent-color: #3bbbf5; // orange-600

.footer {
  background-color: $bg-color;
  color: $text-white;
  border-top: 1px solid $border-color;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  font-family: sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;

  @media (min-width: 1024px) {
    padding: 0 2rem;
  }
}

/* --- TOP SECTION --- */
.topSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* Logo */
.logo {
  text-decoration: none;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  img{
    width: 100px;
  }
  @media (min-width: 768px) {
    text-align: left;
  }

  h1 {
    font-size: 2.25rem; // 4xl
    font-weight: 900; // black
    text-transform: uppercase;
    letter-spacing: -0.05em;
    color: $text-white;
    margin: 0;

    span {
      color: $text-dark;
      transition: color 0.3s;
    }
  }

  &:hover h1 span {
    color: #3bbbf5;
  }
}

/* Navigation Links */
.navColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem 6rem; // Hàng ngang cách nhau 6rem

  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a {
    font-size: 0.875rem; // sm
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em; // widest
    color: $text-muted;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $text-white;
    }
  }
}

/* Social Icons */
.socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  @media (min-width: 768px) {
    justify-content: flex-end;
  }

  a {
    color: $text-dark; // Mặc định tối
    font-size: 1.5rem; // 24px
    transition: all 0.2s;

    &:hover {
      color: $text-white;
      transform: translateY(-2px);
    }

    // Màu riêng cho từng mạng xã hội khi hover (Optional)
    &.youtube:hover { color: #FF0000; }
    &.facebook:hover { color: #1877F2; }
    &.twitter:hover { color: #1DA1F2; }
    &.instagram:hover { color: #E4405F; }
  }
}


/* --- BOTTOM SECTION --- */
.bottomSection {
  border-top: 1px solid $border-color;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 0.75rem; // xs
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $text-dark;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}